html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: quicksand;
}

h2{
  font-family: quicksand;
}

p{
  font-family: quicksand;
}

@font-face {
  font-family: quicksand;
  src: url(../assets/fonts/Quicksand-Regular.ttf);
}

* {
  box-sizing: border-box;
}

.textPad{
  margin-top: 100px;
}

@media screen and (min-width: 700px ) {
  .textPad{
    margin-top: 0px;
  }

  .imgTentang{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.imgTentang{
  width: 600px;
  height: 500px;
  margin-top: 20px;
}

.centering{
  margin-left: auto;
  margin-right: auto;
}
