.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  /* transition: 0.5s; */
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Home */
.donasiTop{
  margin-top: 20px;
  padding-bottom: 30px;
}

.imgPosition{
  width: 300px;
  height: 200px;
}

.boxDonasi{
  width: 350px;
  height: 400px;
  background-color: #F0F0F0;
  border-radius: 20px;
  margin-top: 20px;
  padding: 25px;
}

.btnWidth{
  width: 300px;
}

.harapanTop{
  margin-top: 20px;
}

.boxHarapan{
  width: 100%;
  height: 430px;
  margin-top: 20px;
  padding: 25px;
  border-style: groove;
  overflow: scroll;
}

.boxHarapan::-webkit-scrollbar{
  width: 10px;
}

.boxHarapan::-webkit-scrollbar-track{
  background: #f1f1f1;
}

.boxHarapan::-webkit-scrollbar-thumb{
  background: #888;
}

.boxHarapan::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.imgProfile{
  width: 80px;
  height: 80px;
  border-style: groove;
  border-radius: 50px;
}

.marginProfile{
  margin-top: 20px;
}

.marginProfileStatus{
  margin-top: 40px;
}

.rightSide{
  justify-content: end;
  align-items: flex-end;
  display: flex;
  padding-top: 10px;
}

/* login */
.imgSize{
  width: 50%;
  height: 50%;
}

.padtop{
  margin-top: 20%;
}

.centeringText{
  text-align: center;
}

.roundedTube{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  transition: 0.5s;
}

.roundedTube:hover{
  background-color: antiquewhite;
}

.inputWidth{
  padding-right: 50px;
  padding-left: 50px;
}

.centerBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.widthBtn{
  width: 85%;
}

.padtop2{
  margin-top: 10%;
}

/* Footer */
.boxFooter{
  background: #752C8B;
  width: 100%;
  height: 200px;
  padding: 30px;
}

.sosmed{
  color: #F0F0F0;
}

/* Donasi */
.imgDonasi{
  width: 600px;
  height: 500px;
  margin-top: 20px;
}

.textPad{
  margin-top: 40%;
}

/* Tentang-Kami */
.imgTentang{
  width: 600px;
  height: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.padTextTentang{
  padding-left: 70px;
  padding-right: 70px;
}

/* Hubungi Kami */
.maps{
  width: 100%;
  height: 500px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.hubTop{
  padding-top: 5%;
}

.imgSosmed{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Detail Donasi */
.imgDetailDonasi{
  width: 100%;
  height: 600px;
  margin-top: 20px;
}

.btnDetailDonasi{
  width: 300px;
}

.boxUangDonasi{
  width: 200px;
  height: 100px;
  border-style: groove;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  transition: 0.3s;
}

.boxUangDonasi:hover{
  background: #98D97A;
  color: #eaeaea;
}

.inputWidthDonasi{
  width: 200px;
  padding-top: 20px;
}

.boxDataDiri{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  width: 600px;
  height: 200px;
  margin-top: 30px;
  padding: 30px;
  margin-bottom: 20px;
}

.textUpper{
  margin-top: -45px;
}

.widthInputPesan{
  width: 600px;
}

/* Konfirmasi Pembayaran */
.flexImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Admin */
.mainAdmin{
  padding-top: 3%;
  padding-left: 5%;
}

.boxTotalDonasi{
  width: 300px;
  height: 150px;
  border-style: groove;
  border-radius: 20px;
  transition: 0.5s;
  padding: 30px;
}

/* User Profile */
.toRight{
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

/* Profile */
.boxImgProfile{
  width: 200px;
  height: 200px;
  border-style: groove;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.btnCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.boxProfile{
  width: 500px;
  height: 100%;
  border-radius: 50px;
  border-style: groove;
  margin-top: 20px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.boxProfileKtp{
  width: 500px;
  height: 300px;
  border-radius: 50px;
  border-style: groove;
  margin-top: 20px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.ktpImg{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.boxDonasiProfile{
  width: 200px;
  height: 80px;
  border-radius: 20px;
  border-style: groove;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inputProfile{
  padding-top: 20px;
}

.inputProfileBtn{
  margin-top: 20px;
  width: 100%;
}

/* Buat Donasi */
.textTitle{
  font-weight: bold;
  text-decoration: dashed;
  padding-top: 10px;
}

.centering{
  margin-left: 25%
}

.centeringImg{
  margin-left: auto;
  margin-right: auto;
}

.imgBuatDonasi{
  width: 50%;
  height: 200px;
}

/* All */
.hiddenScroll{
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}